@charset "UTF-8";

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */

@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.arcticmodal-overlay,
.arcticmodal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.arcticmodal-container {
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}

*:first-child + html .arcticmodal-container {
  height: 100%;
}

.arcticmodal-container_i {
  height: 100%;
  margin: 0 auto;
}

.arcticmodal-container_i2 {
  padding: 24px;
  margin: 0;
  border: 0;
  vertical-align: middle;
}

.arcticmodal-error {
  padding: 20px;
  border-radius: 10px;
  background: #000;
  color: #fff;
}

.arcticmodal-loading {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: #000 url(loading.gif) no-repeat 50% 50%;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
span,
a,
div,
img,
p,
footer,
header,
aside {
  display: block;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  color: #000;
  font-family: "Roboto", sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
  color: #000;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 100px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*Конец обнуления*/

.container {
  width: 1430px;
  padding: 0 10px;
}

.btn {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 15px 33px;
  background: #ee252d;
  border: 2px solid #ee252d;
}

.btn:hover {
  background: #fff;
  color: #ee252d;
}

.btn:active,
.btn:focus {
  background: #fffdfd;
  color: #ee252d;
}

.overlay {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  z-index: 8;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.6);
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

body.active {
  overflow: hidden;
}

.navigation__logo {
  width: 177px;
  height: 93px;
}

.navigation__logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.navigation__logo_mod {
  padding-top: 12px;
}

.header__navigation {
  z-index: 200;
  padding: 13px 0;
  position: fixed;
  width: 100%;
  background: #fff;
}

.header__navigation .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__menu {
  margin-left: auto;
}

.navigation__menu li {
  margin-left: 99px;
}

.navigation__link {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navigation__link:hover,
.navigation__link:active,
.navigation__link:focus {
  opacity: 0.6;
}

.navigation_tel {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.header__offer {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 146px;
}

.offer__content {
  width: 50%;
  padding-right: 80px;
}

.offer__btn {
  max-width: 215px;
}

.header__img {
  width: 50%;
}

.header__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.offer__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.offer__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 53px;
}

/*categories*/

.categories {
  padding: 146px 0px 0px 0px;
}

.categories__index {
  padding: 70px 0px 0px 0px;
}

.categories__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories__item {
  margin: 0 13px 35px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.categories__item a {
  height: 100%;
  padding: 32px 13px 23px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  width: 325px;
}

.categories__item a:hover span {
  opacity: 1;
  text-decoration: underline;
}

.categories__item .item__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.categories__item .item__link {
  margin-top: 17px;
}

.categories__item .item__link span {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
  position: relative;
  width: 100%;
}

.categories__item .item__link span:before {
  position: absolute;
  content: url(../img/Arrow.png);
  right: 0;
}

.categories__item picture {
  height: 165px;
}

.categories__item .item__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/*about*/

.about {
  padding-top: 100px;
}

.titles {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 59px;
  text-transform: uppercase;
}

.about__wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-right: 10px;
}

.about__img {
  padding: 35px 45px 0 0;
}

.about__img .border__wrapper {
  position: relative;
}

.about__img img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.about__img .image__border {
  position: absolute;
  right: -10%;
  top: -15%;
  left: 15%;
  bottom: 15%;
  z-index: -1;
  border: 7px solid #ee252d;
}

.about__title {
  margin-bottom: 39px;
}

.about__text {
  font-size: 16px;
  margin-bottom: 50px;
}

.about__btn {
  max-width: 240px;
}

/*footer*/

.footer {
  padding-top: 100px;
}

.footer__section {
  padding-top: 0;
}

.footer__wrapper {
  width: 100%;
}

.footer__wrapper_small {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pattern__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 88px;
  width: 328px;
}

.pattern__form .form__title {
  text-align: center;
  font-weight: 600;
  font-size: 33px;
  line-height: 49px;
  text-transform: uppercase;
  margin-bottom: 41px;
}

.pattern__form input {
  border: 1px solid #000000;
  width: 100%;
  padding: 11px 17px 15px;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 14px;
}

.pattern__form .form__btn_green {
  background: #849f38;
  border-color: #849f38;
}

.pattern__form .form__btn_green:hover {
  background: #fff;
  color: #849f38;
}

.pattern__form .form__btn_green:active,
.pattern__form .form__btn_green:focus {
  background: #fdfffe;
  color: #849f38;
}

.footer__map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.footer__map .map__image {
  position: relative;
  z-index: 1;
}

.footer__map iframe {
  top: 0;
  position: absolute;
  z-index: 2;
  display: none;
}

.map__image {
  cursor: pointer;
  width: 100%;
  height: 407px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__map .big {
  display: block;
  height: 100%;
}

.footer__map .big img {
  height: 100%;
}

.footer__map .small {
  display: none;
}

.footer__info {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 34px 0px 43px 0px;
}

.box-modal {
  position: relative;
  background: #fff;
  padding: 66px 35px 150px;
}

.box-modal .pattern__form {
  margin-right: 0;
  width: 100%;
}

.box-modal_close {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
  -webkit-transform: scaleX(1.5);
      -ms-transform: scaleX(1.5);
          transform: scaleX(1.5);
  padding: 10px;
}

/*-----------------------about.html-----------------------*/

.offer__about {
  padding-top: 146px;
}

.offer__about .about__paragraf {
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  opacity: 0.9;
  margin-bottom: 21px;
}

.about__image {
  float: right;
}

.about__image img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

/*partners*/

.partners {
  padding-top: 56px;
}

.slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide__image {
  margin-right: 57px;
  padding: 55px 0 15px 45px;
}

.slide__image .border__wrapper {
  position: relative;
}

.slide__image img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.slide__image .image__border {
  position: absolute;
  left: -10%;
  top: -15%;
  right: 15%;
  bottom: 15%;
  z-index: -1;
  border: 7px solid #849f38;
}

.slide__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.slide__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 68%;
          flex: 0 0 68%;
  padding-right: 35px;
  font-size: 18px;
  line-height: 25px;
}

.slide__text {
  margin-bottom: 30px;
  font-weight: normal;
}

.slide__contact {
  font-weight: 600;
}

.arrows-wrapper {
  margin-left: auto;
  top: -60px;
  width: 100px;
  height: 41px;
  position: relative;
  right: 50px;
}

.arrows-wrapper .slick-arrow {
  width: 41px;
  height: 41px;
}

.arrows-wrapper .slick-prev {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  left: 0;
  background: #fff;
  border: 2px solid #b9b9b9;
}

.arrows-wrapper .slick-prev::before {
  content: url(../img/prewArrow.png);
  font-size: 0;
}

.arrows-wrapper .slick-prev:hover,
.arrows-wrapper .slick-prev:active,
.arrows-wrapper .slick-prev:focus {
  background: #849f38;
  border: 2px solid #849f38;
}

.arrows-wrapper .slick-prev:hover::before,
.arrows-wrapper .slick-prev:active::before,
.arrows-wrapper .slick-prev:focus::before {
  content: url(../img/prewArrowW.png);
}

.arrows-wrapper .slick-next {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  right: 0;
  background: #fff;
  border: 2px solid #b9b9b9;
}

.arrows-wrapper .slick-next::before {
  content: url(../img/nextArrow.png);
  font-size: 0;
}

.arrows-wrapper .slick-next:hover,
.arrows-wrapper .slick-next:active,
.arrows-wrapper .slick-next:focus {
  background: #849f38;
  border: 2px solid #849f38;
}

.arrows-wrapper .slick-next:hover::before,
.arrows-wrapper .slick-next:active::before,
.arrows-wrapper .slick-next:focus::before {
  content: url(../img/nextArrowW.png);
}

/*------------equipment.html------------*/

/*categories*/

.equipment__title {
  margin-bottom: 60px;
}

/*------------contacts.html------------*/

.footer__section {
  padding: 146px 0px 0px 0px;
}

.contacts__title {
  margin-bottom: 25px;
}

.contacts__item_red {
  color: #ed1c24;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 7px;
}

.contacts__value {
  font-size: 18px;
  margin-bottom: 16px;
  max-width: 300px;
}

.contacts__wrapper {
  margin-bottom: 45px;
}

.contacts__map {
  position: relative;
}

.contacts__map iframe {
  position: absolute;
  top: 0;
  left: 0;
}

.contacts {
  padding-bottom: 35px;
}

/*-----------------categories.html---------------*/

.classes {
  padding: 146px 0px 0px 0px;
}

.classes__title {
  margin-bottom: 37px;
}

.classes__subtitle {
  margin-bottom: 44px;
}

.classes__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.classes__item {
  margin-bottom: 33px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 32px 37px 44px;
}

.classes__item .item__wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 50px;
}

.classes__item .item__wrapper h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.classes__item .item__wrapper picture {
  max-width: 290px;
  max-height: 200px;
}

.classes__item .item__wrapper img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.classes__item .item__text {
  font-size: 18px;
  opacity: 0.9;
  line-height: 140%;
}

/*----------production.html------------*/

.production {
  padding-top: 146px;
}

.production__block {
  margin-right: 46px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
}

.production__block h2 {
  margin-bottom: 45px;
}

.production__block picture {
  width: 350px;
  height: 230px;
}

.production__block img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.production__text {
  opacity: 0.9;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 28px;
}

.production__btn {
  width: 195px;
  position: relative;
}

.production__btn:before {
  content: url(../img/list.png);
  left: 40px;
  top: 17px;
  position: absolute;
}

.pattern__form input.error {
  border-color: red;
}

.successfully {
  position: absolute;
  top: 0;
  background-color: #fff;
  padding: 50px 35px 70px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.box-modal {
  padding: 50px 35px 70px;
  border: 2px solid rgba(0, 0, 0, 0.26);
}

.box-modal_close {
  z-index: 20;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  background: rgba(235, 235, 235, 0.89);
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.successfully .title {
  font-weight: 600;
  font-size: 28px;
  line-height: 41px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 40px;
}

.successfully .text {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

.successfully .btn {
  margin-top: auto;
}

.pattern__form .form__title {
  font-size: 28px;
  line-height: 41px;
}

.arcticmodal-overlay {
  background: rgba(254, 254, 254, 0.85) !important;
}

@media screen and (max-width: 1430px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

@media screen and (max-width: 1300px) {
  .navigation__menu li {
    margin-left: 40px;
  }

  .about__image {
    width: 60%;
  }

  .offer__content {
    width: 60%;
    padding-right: 40px;
  }

  .pattern__form {
    margin-right: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .classes__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66%;
            flex: 0 0 66%;
    margin: auto;
    margin-bottom: 33px;
  }
}

@media screen and (max-width: 1000px) {
  .classes__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .classes__item .item__wrapper {
    margin-right: 10px;
  }

  .navigation__menu {
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    z-index: 10;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: -100%;
    top: 0;
    background: #fff;
    padding: 50px 50px 0 30px;
    height: 100vh;
  }

  .navigation__menu.active {
    right: 0;
  }

  .navigation__menu li {
    margin-bottom: 30px;
    margin-left: 0;
  }

  .header__menu {
    z-index: 11;
    margin-left: auto;
    position: relative;
    cursor: pointer;
    width: 34px;
    height: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__menu span {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 34px;
    height: 4px;
    background: #000;
    opacity: 0.8;
    position: relative;
  }

  .header__menu.active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: -12px;
  }

  .header__menu.active span:nth-child(2) {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__menu.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -11px;
  }

  .partners {
    position: relative;
  }

  .arrows-wrapper {
    position: absolute;
    top: 53px;
  }
}

@media screen and (max-width: 768px) {
  .footer__map .big {
    display: none;
  }

  .footer__map .big img {
    height: 407px;
  }

  .footer__map .small {
    display: block;
  }

  .production__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .production__block {
    margin-right: 0;
  }

  .production__block img {
    width: 50%;
    margin: 15px auto;
  }

  .footer__wrapper_small {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }

  .pattern__form {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .pattern__form .form__title {
    line-height: 100%;
    font-size: 30px;
  }

  .about__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .offer__content {
    padding: 0;
    width: 100%;
  }

  .header__img {
    width: 80%;
    margin-left: auto;
    margin-top: 20px;
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts__map {
    height: 300px;
  }

  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .contacts__wrapper {
    width: 50%;
    padding-right: 10px;
  }

  .titles {
    font-size: 30px;
    line-height: 100%;
  }

  .about__image {
    display: none;
  }

  .slider__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slide__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .navigation__logo {
    width: 115px;
    height: 60px;
  }

  .btn {
    white-space: nowrap;
  }

  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__img {
    margin-top: 30px;
    width: 80%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

  .about {
    padding: 60px 0px 0px 0px;
  }

  .contacts__wrapper {
    width: 100%;
  }

  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .classes__item {
    padding: 25px;
  }

  .classes__item a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .classes__item .item__wrapper {
    margin: auto;
    margin-bottom: 15px;
  }

  .classes__item .item__wrapper h2 {
    font-size: 18px;
    text-align: center;
  }

  .footer__info {
    padding: 34px 0 34px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 12px;
  }

  .footer__info .info__elem:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 440px) {
  .pattern__form {
    width: 100%;
  }

  .pattern__form .form__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .categories__item {
    margin: 0 0 35px;
    width: 100%;
  }

  .categories__item a {
    width: 100%;
    padding: 25px 20px 20px 20px;
  }

  .categories__item .item__title {
    font-size: 18px;
  }

  .offer__title {
    font-size: 30px;
  }

  .arrows-wrapper {
    width: 90px;
    right: 10px;
  }
}